nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 25px
}

nav img {
  height: 100px;
}

.contenitore {
  width: 50%;
  margin: 0 auto;
}

.contenitore-sez {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;  
  color: white;
  padding: 0 20px;
}

.current-weather {
  background-color: blue;
}

.contenitore-sez.current-weather .blocco-testuale h1 {
  font-weight: 500;
}

.contenitore-sez.current-weather .blocco-testuale .sottotitolo {
  margin-top: -27px;
  color: rgba(204, 204, 204, 0.685);
}

.contenitore-sez.current-weather .blocco-testuale .gradi {
  font-size: 50px;
  margin-top: -20px;
}

.contenitore-sez.current-weather .blocco-testuale .descrizione-tempo {
  width: 90%;
  margin-top: -20px;
}

.contenitore-sez.current-weather .icona {
  margin: 0 auto;
}

.contenitore-sez.current-weather .icona img {
  width: 150px;
}

.contenitore-sez.cw-detail {
  background-color: cornflowerblue;
  padding: 20px;
}

.contenitore-sez.cw-detail table {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
}


footer {
  text-align: center;
}